@font-face {
    font-family: 'Bernardo';
    src: url('Bernardo Moda.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bernardo';
    src: url('Bernardo Moda Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bernardo';
    src: url('Bernardo Moda Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}